<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" href="css/style.css"> -->
      <link rel="stylesheet" href="../../assets/css/style.css">
      <title>Login</title>
   </head>
   <body>
      <!-- <h1>Productos</h1> -->


<!-- action="datos.php" -->
      <form class="container formulario"  method="POST" action="" >

         <div class="form__contenedor">

        

         <fieldset class="border p-2 ">
            <legend  class="float-none w-auto p-2">Sing up</legend>
            
            <div class="mb-3 sepador">
               <label for="lblUsuario" class="form-label">User </label>
               <input type="text" class="form-control lblNombre" id="lblUsuario" name="lblUsuario" placeholder="Usuario">
            </div>
            
            <div class="mb-3 sepador">
               <label for="lblPassword" class="form-label">Password</label>
               <input type="password" class="form-control lblNombre" id="lblPassword" name="lblPassword" placeholder="Password">
            </div>


            <button type="submit" id="btn-login" name="btn-login" class="btn btn-primary btn-boton sepador">Ingresar</button>

            <center>
               <p>
                  <a href="#">¿Ya tienes Cuenta?</a>
               </p>
            </center>

         </fieldset>
         </div>
      </form>   


<!-- 
      <script type="module" src="express.js"></script>
      <script type="module" src="public/assets/js/app.js"></script> -->
      <script src="../../assets/js/app.js"></script>
      <!-- <script src="app.js"></script> -->
      
   </body>
</html>